@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1B1B1D;
  color: #ffffff;
  font-family: 'Clash Display', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
